################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.idea/*
*.user
*.suo
*.DS_Store
*.vs
*.gitee
*.github
*.git
**/.vs
**/.gitee
**/.github
**/.git
**/obj
**/bin
**/packages
**/Build
**/PublishProfiles
**/.idea
*.zip
*.htm
**/publish
**/Debug
**/Release
**/BuildScripts/Publish
**/output
*.exe
*.exe.config
*.pdb
**/Errors

*.vsidx
*.cache
*.editorconfig
*.props
*.targets